.cards-container {
  width: 900px;
  margin: auto;
}

.text-center {
  text-align: center;
  margin-top: 20px;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 30px;
}

.card {
  width: 245px;
  box-shadow: 0 0 5px rgb(230 230 230);
  border: 1px solid rgb(230,230,230);
  border-radius: 3px;
  padding: 20px;
  text-align: center;
}

.card img {
  height: 100px;
}

.card p {
  opacity: 0.5;
}

.card img, h4, p {
  margin-bottom: 20px;
}
